---
layout: archive
permalink: /research/
title: "Research Overview"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---


My long-term research goal is centered around the following question: "<i>How can we bridge the current gaps between humans and AI tools to 
democratize AI beyond the tech-savvy communities?</i>." As a researcher, I find myself at the intersection of Natural Language Processing (NLP)
and Information Retrieval (IR), with a broad interest in the general area of Artificial Intelligence and Data Science.<br>

Although Artificial Intelligence (AI) has existed for decades, its widespread accessibility is a relatively recent development—driven largely by systems like ChatGPT that
enable natural, human-like interactions. This accessibility offers a tremendous opportunity to democratize AI among the general population. However, AI technology
still has several key limitations that hinder democratization, including but not limited to misalignment with end-users’ goals, biased content generation, and a lack of 
assurance in real-world applications. Accordingly, my current research focuses on addressing these three challenges (as illustrated in the figure below): 
1) <b>Decision Advantage with AI</b>, 2) <b>AI Assurance</b>, and 3) <b>AI Alignment</b>.

<br>
<br>
<center>
  <div style='display: flex; justify-content: center;'><img src='/images/Theme.png' alt='Image not Loading' style='height:500px;' align='middle'></div><br>
</center>
<br>


<h1>Current Projects</h1>

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}



<h1>Our Sponsors</h1>
<center>
  <div style='display: flex; justify-content: center;'><img src='/images/Sponsor.png' alt='Image not Loading' style='height:500px;' align='middle'></div><br>
</center>
<br>
